.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;


    //plashka
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }

    &__body {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 85px;
        padding-top: 5px;
        padding-bottom: 5px;


    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            list-style: none;
            margin-left: 20px;
            color: #222222;
            font-size: 1.1rem;
        }
    }

    &__link {
        color: $link-color;
        text-decoration: none;
        margin-left: 10px;
        margin-right: 10px;
        transition: all .5s;

        &:hover {
            border-bottom: 1px solid rgba(204, 204, 204, 0.548);
            cursor: pointer;
        }
    }


    &__burger {
        display: none;
    }

    &__info {
        display: flex;

        .number {
            display: flex;
            flex-direction: column;
            margin-right: 15px;

            a {
                color: #222222;
            }

            .time {
                color: rgba(0, 0, 0, 0.589);
                font-size: 0.95rem;
            }

        }

        .basket {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .receipt {
                position: relative;
                z-index: 1;
                border: 1px solid #ccc;
                padding-left: 15px;
                height: 100%;
                max-height: 38px;
                padding-top: 5px;
                border-radius: 5px;
                padding-right: 40px;

                span {
                    display: inline-block;
                    margin-bottom: 5px;
                    font-weight: bold;
                    font-size: 1.1rem;
                }

            }

            .red-number {
                position: absolute;
                display: flex;
                z-index: 2;
                right: -15px;
                top: 31%;
                background-color: $main-red;
                display: inline-block;
                width: 42px;
                height: 42px;
                border-radius: 50%;
                margin-top: -10px;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                    width: 40px;

                    a {
                        margin-left: 2.5px;
                    }

                    span {
                        color: #fff;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.logo-img {
    max-width: 150px;
    width: 100%;
}


@media (max-width: 1270px) {
    .header {
        &__info {
            .basket {
                .red-number {
                    top: 27%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header__list {
        position: fixed;
        z-index: 1000;
        transition: .8s;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        flex-direction: column;
        justify-content: space-around;
        overflow: auto;
        background-color: rgba(255, 255, 255, 0.933);

        li {
            font-size: 2rem;
            border-bottom: 1px solid rgba(255, 23, 69, 0.322);
          
        }

    }

    .menu_active {
        left: 0;
    }

    .header__burger {
        display: block;
        position: fixed;
        height: 25px;
        right: 25px;
        width: 25px;
    }


    .header__burger span {
        display: block;
        margin: 5px;
        height: 2px;
        width: 100%;
        background-color: $burger-color;
    }

    .burger_active {
        margin-top: 7px;
    }


    .burger_active span {
        margin-bottom: -7px;
        transition: .5s;
    }


    .burger_active span:nth-child(1) {
        transform: rotate(-45deg);
    }

    .burger_active span:nth-child(2) {
        display: none;
    }

    .burger_active span:nth-child(3) {
        transform: rotate(45deg);
    }

    .header {
        &__info {
            margin-right: 55px;

            .number {
                display: none;
            }

            .basket {
                .red-number {
                    top: 22%;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .header {
        &__logo {
            img {
                max-width: 120px;
            }
        }

        &__info {
            margin-right: 50px;
        }
    }
}