.popular-menu {
    padding-bottom: 50px;
}
.h2-all {
    text-align: center;
    color: #222222;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2rem;
}

.pop-menu-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.pop-menu-item {
    flex-basis: 24.333%;
    padding: 10px;
    margin-top: 16px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 5px;
    box-shadow: 0 0 4px 2px rgba(204, 204, 204, 0.24);


    .item-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 220px;



        .item-img {
            align-self: center;

            img {
                max-width: 230px;
            }
        }

        .item-text {
            h3 {
                color: #222222;
                font-size: 1.2rem;
                margin-top: 25px;
                margin-bottom: 0;
            }

            span {
                color: #9C9C9C;
                font-size: .9rem;
                margin-top: 10px;
                display: inline-block;
            }

            p {
                color: #9C9C9C;
                font-size: .9rem;
                margin-top: 10px;
            }
        }

        .price-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 25px;
            width: 100%;

            button {
                background-color: $main-red;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 120px;
                border-radius: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                transition: all .6s;

                span {
                    display: inline-block;
                    margin-left: 25px;
                    color: #fff;
                    font-weight: bold;
                }

                &:hover {
                    cursor: pointer;
                    background-color: rgba(250, 31, 75, 0.836);
                }
            }

            img {
                max-width: 30px;
            }

            .price {
                font-weight: bold;
                font-style: 1.2rem;
            }

        }
    }
}
.more-container {
    display: flex;
}
.btn-more {
    margin-top: 15px;
    margin-left: auto;
    &:hover {
        cursor: pointer;

    }
    img {
        max-width: 50px;
    }
}

@media (max-width: 938px) {
    .pop-menu-row {
        justify-content: center;
        padding: 0 -8px;
    }

    .pop-menu-item {
        margin: 15px 8px 0;
    }
}

@media (max-width:768px) {
    .pop-menu-item {
        .item-container {
            width: 100%;

            .price-btn {
                button {
                    max-width: 80px;
                }
            }
        }
    }
}

@media (max-width:425px) {
    .pop-menu-item {
        flex-basis: 40%;

        .item-container {
            min-width: 100px;
            max-width: 150px;
            .price-btn {
                button {
                    max-width: 60px;
                    img {
                        max-width: 15px;
                    }
                }
            }
        }
    }
}